<app-navbar></app-navbar>

<div class="product-container" *ngIf="product">
  <div class="img-div">
    <div class="img-borders">
      <img src="assets/zoom.svg" id="zoom" alt="" />
      <img
        [src]="product.image"
        [alt]="product.title"
        class="product-image"
        [style.transform]="'scale(' + scale + ')'"
        [style.transform-origin]="transformOrigin"
      />
    </div>
  </div>
  <div class="info-container">
    <h2>{{ product.title }}</h2>
    <p class="description">{{ product.description }}</p>
    <p class="price">{{ product.price | currency }}</p>
    <button class="btn" (click)="addToCart()">Add to Cart</button>
  </div>
</div>

<div class="similar-section">Similar Products</div>
<app-products></app-products>

<app-footer></app-footer>
