@import "../../../styles.scss";

.main-banner {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
}

.bg-container {
  position: fixed;
  width: 100vw;
  z-index: -1;
}
.bg-container img {
  position: fixed;
}

.shop-all-btn {
  margin-bottom:70px;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  font-weight: bold;
  border: solid $base-color 2px;
}

.shop-all-btn:hover {
  background-color: $base-color;
  color: white;
  border: solid $base-color 2px;
  transition: 0.2s;
}

.collection {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 35px;
    margin: 40px 0;
  }
}
