<div class="footer-container">
  <div class="footer">
    <img (click)="goToPage(['main'])" src="assets/logo_blue.png" />
    <div class="text-container">
      <a>About Us</a>
      <a (click)="goToPage(['products'])">Products</a>
      <a>Our Partners</a>
      <a>Visit Our Stores</a>
      <a>Contact</a>
      <a>Careers</a>
    </div>
    <div class="media">
      <div class="icons">
        <a target="_blank"><img src="assets/facebook.svg" /></a>
        <a target="_blank"><img src="assets/instagram.svg" /></a>
        <a target="_blank"><img src="assets/youtube.svg" /></a>
      </div>
    </div>
  </div>

  <div class="post-footer">
    <div class="content">
      <p>Copyright 2025. Vivid</p>
      <a> Terms & Conditions </a>
      <a> Privacy Policy</a>
    </div>
  </div>
</div>
