<div class="footer-container">
  <div class="footer">
    <img src="assets/logo_blue.png" />
    <div class="text-container">
      <a>About Us</a>
      <a>Products</a>
      <a>Our Partners</a>
      <a>Visit Our Stores</a>
      <a>Contact</a>
      <a>Careers</a>
    </div>
    <div class="media">
      <div class="icons">
        <a href="https://www.facebook.com/AlWadiAlAkhdarLB" target="_blank"
          ><img src="assets/facebook.svg"
        /></a>
        <a
          href="https://www.linkedin.com/company/al-wadi-al-akhdar-sal/"
          target="_blank"
          ><img src="assets/instagram.svg"
        /></a>
        <a href="https://www.youtube.com/user/AlWadiAlAkhdar" target="_blank"
          ><img src="assets/youtube.svg"
        /></a>
      </div>
    </div>
  </div>

  <div class="post-footer">
    <div class="content">
      <p>Copyright 2024. Al Wadi Al Akhdar</p>
      <a> Terms & Conditions </a>
      <a> Privacy Policy</a>
    </div>
  </div>
</div>
