<div class="products-container">
  <div class="btn-container">
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>
<!--   <input
    type="text"
    placeholder="Search..."
    (input)="filterProducts($event)"
    class="search-bar"
  /> -->
  

  <div class="products-grid">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.image" [alt]="product.title" class="product-image" />
      <h3>{{ product.title}}</h3>
      <p class="price">{{ product.price | currency }}</p>
      <button class="buy-button" (click)="goToProduct(product.id)">Buy Now</button>
    </div>
  </div>
</div>
