<div class="navbar-container" [ngClass]="{'scrolled': isScrolled}">
  <div class="logo">
    <img src="assets/logo_blue.png" alt="" />
  </div>
  <div class="category-container" [ngClass]="{'scrolled': isScrolled}">
    <button><p class="category-text">Men</p></button>
    <button><p class="category-text">Women</p></button>
    <button><p class="category-text">Kids</p></button>
  </div>
  <div class="line"></div>
  <div class="buttons-container">
    <a (click)="openSearch()" class="search-btn"
      ><img src="assets/search-svgrepo-com.svg" alt=""
    /></a>
    <img src="assets/shopping-bag-svgrepo-com.svg" alt="" />
    <img src="assets/user-svgrepo-com.svg" alt="" />
  </div>
</div>
<div class="search-container" *ngIf="isSearchOpen">
  <input type="text" placeholder="Search" />
  <img (click)="closeSearch()" class="close-btn" src="assets/close.svg" />
</div>
