<div class="navbar-container" [ngClass]="{ scrolled: isScrolled }">
  <div class="logo" (click)="goToPage(['main'])">
    <img src="assets/logo_white.png" alt="" />
  </div>
  <div class="category-container" [ngClass]="{ scrolled: isScrolled }">
    <button class="category-text" (click)="goToPage(['products', 'mens'])">
      Men
    </button>
    <button class="category-text" (click)="goToPage(['products', 'womens'])">
      Women
    </button>
    <button class="category-text" (click)="goToPage(['products', 'jewelry'])">
      Jewelry
    </button>
  </div>
  <div class="line"></div>
  <div class="buttons-container">
    <img
      (click)="openSearch()"
      class="search-btn"
      src="assets/search.svg"
      alt=""
    />
    <img
      (click)="togglePane('cartPane')"
      src="assets/shopping-bag.svg"
      alt=""
    />
    <img (click)="togglePane('loginPane')" src="assets/user.svg" alt="" />
  </div>
</div>
<div class="search-container" *ngIf="isSearchOpen">
  <input
    type="text"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
    (keyup.enter)="onSearch()"
  />
  <img (click)="closeSearch()" class="close-btn" src="assets/close.svg" />
</div>

<app-login-pane
  [closePane]="getCloseFunction('loginPane')"
  *ngIf="activePane === 'loginPane'"
  [isLoggedIn]="isLoggedIn"
  [loginAction]="navigateToLogin"
  [logoutAction]="logout"
></app-login-pane>
<app-cart-pane [closePane]="getCloseFunction('cartPane')"></app-cart-pane>
