<app-navbar></app-navbar>
<div class="tab-selector">
  <button
    class="tabs"
    (click)="selectTab(1)"
    [class.active]="selectedTab === 1"
  >
    My Info
  </button>
  <button
    class="tabs"
    (click)="selectTab(2)"
    [class.active]="selectedTab === 2"
  >
    My Orders
  </button>
</div>
<div class="tab-content">
  <div *ngIf="selectedTab === 1" id="info_tab">
    <h2>My Information</h2>
    <div>
      <p><span>First Name:</span>{{ user?.username }}</p>
      <p><span>Last Name:</span>{{ user?.lastName }}</p>
      <p><span>Email:</span>{{ user?.email }}</p>
    </div>
  </div>

  <div *ngIf="selectedTab === 2" id="orders-tab">
    <h2>My Orders</h2>
    <table class="order-table" *ngIf="orders.length > 0">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Total Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.date }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="orders.length === 0">No orders found.</p>
  </div>
</div>

<app-footer></app-footer>
