<app-navbar></app-navbar>
<div class="products-container">
  <h2>Products</h2>
  <div class="btn-container">
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>

  <input
    type="text"
    placeholder="Search..."
    (input)="filterProducts($event)"
    class="search-bar"
  />

  <div class="products-grid">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.image" [alt]="product.title" class="product-image" />
      <h3>{{ product.title }}</h3>
      <p class="price">{{ product.price | currency }}</p>
      <p class="description">{{ product.description | slice : 0 : 80 }}...</p>
      <button class="buy-button">Buy Now</button>
    </div>
  </div>
</div>
