@import "../../styles.scss";

.products-container {
  text-align: center;
  padding: 20px;
}

.search-bar {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}


.description {
  font-size: 14px;
  color: #555;
}

.buy-button {
  background: $base-color;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background: $hover-color;
    transition:0.3s;
  }
}

.btn-container {
  display: grid;
  justify-content: end;
}

.logout-btn {
  border-radius: 10px;
  border: solid black 2px;
  padding: 10px 20px;
  font-weight: bold;
}

.logout-btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition:0.3s;
}
