<app-navbar></app-navbar>
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Create Account</h2>

    <div class="input-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="input-field" />
      <small *ngIf="loginForm.get('firstName')?.touched">
        This is a required field.
      </small>
    </div>

    <div class="input-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="input-field" />
      <small *ngIf="loginForm.get('lastName')?.touched">
        This is a required field.
      </small>
    </div>

    <div class="input-group">
      <label>Email</label>
      <input type="email" formControlName="email" class="input-field" />
      <small
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        Please enter a valid email.
      </small>
    </div>

    <div class="input-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="input-field" />
      <small
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        Password must be at least 6 characters.
      </small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="login-btn">
      Login
    </button>
    <p (click)="goToPage(['register'])">Don't Have An Account? Create One</p>
  </form>
</div>
