@import "../../../styles.scss";

.login-container {
  position: absolute;
  top: 0;
  right: -450px;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eefaf9;
  border: solid $base-color 3px;
  z-index: 100;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}
.login-container.open {
  transform: translateX(-450px);
}

img {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

input {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid $base-color;
  background: white;
  padding-left: 10px;
}

button {
  display: flex;
  width: 288px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: $hover-text-color;
  color: white;
}

span {
  color: $hover-text-color;
  font-size: 13px;
}
