@import "../../../styles.scss";

.login-container {
  position: absolute;
  top: 100px;
  right: -450px;
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: solid $base-color 3px;
  z-index: 100;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.login-container.open {
  transform: translateX(-460px);
}

img {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
button {
  background-color: $base-color;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  border: none;
  margin: 5px 0;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
